.box-quick-guide{
  background-color: white;
  margin: 25px -50px 0 -50px;
  padding: 50px;
  display: flow-root;
}
.top-box-quick-guide{
  padding-bottom: 50px;
  border-bottom: 1px solid #dadada;
}
.top-box-quick-guide p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #1f6cae;
  float: left;
}
.top-box-quick-guide div a{
  background-color: #f8f8f8;
  padding: 10px;
  color: #0b0c0d;
  margin: 0;
}
.top-box-quick-guide div a.active{
  background-color: #f1f1f1 ;
  font-weight: 600;
}
.top-box-quick-guide div a:first-child{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.top-box-quick-guide div a:last-child{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* end css top box */

/* css body box */
.body-box-quick-guide{
  padding-top: 50px;
  background-color: white;
}

.left-quick-guide{
  display: inline-block;
  width: 30%;
  float: left;
  min-height: 520px;
  border-right: 1px solid #dadada;
}
.content-body-box-quick-guide{
  display: inline-block;
}
.left-quick-guide p{
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 15px;
}
.left-quick-guide ul li {
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 22px;
}

.left-quick-guide ul li.active{
  font-weight: 600;
  color: #1f6cae;
}
.content-body-box-quick-guide{
  padding-left: 50px;
  position: relative;
  width: 70%;
  float: right;
}
.content-body-box-quick-guide .box-button-move{
  position: absolute;
  right: 0;
  top: -10px;
}
.content-body-box-quick-guide .box-button-move a{
  color: #0b0c0d;
  background-color: #f8f8f8;
}
.content-body-box-quick-guide .box-button-move a:hover{
  background-color: #dadada;
}
.content-body-box-quick-guide p.title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}
.content-body-box-quick-guide p{
  line-height: 20px;
}
.content-body-box-quick-guide .content-group{
  margin-bottom: 25px;
  margin-top: 25px;
}
.content-body-box-quick-guide p.subtitle{
  font-weight: 600;
  margin-bottom: 10px;
}
.content-body-box-quick-guide ul{
  padding-left: 22px;
}
.content-body-box-quick-guide ul li{
  line-height: 20px;
  list-style-type: disc;
}
.content-body-box-quick-guide .content-group a.btn{
  display: inline-block;
  background-color: #f8f8f8;
  color: #0b0c0d;
}
.subtitle-qa{
  display: inline-block;
  padding-top: 10px;
}
