<div class="box-quick-guide">
  <div class="top-box-quick-guide">
    <p>Contacts</p>
  </div>

  <div class="body-box-quick-guide">
    <div class="content-body-box-quick-guide">
      <div class="item">
        <img src="https://adminlte.io/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="user image" class="offline">
        <div class="item-info">
          <a href="#" class="name">
            Jane Doe
          </a>
          <p class="message">
            janedoe@example.com
          </p>
        </div>
      </div>
      <div class="item">
        <img src="https://adminlte.io/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="user image" class="offline">
        <div class="item-info">
          <a href="#" class="name">
            Jane Doe
          </a>
          <p class="message">
            janedoe@example.com
          </p>
        </div>
      </div>
      <div class="item">
        <img src="https://adminlte.io/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="user image" class="offline">
        <div class="item-info">
          <a href="#" class="name">
            Jane Doe
          </a>
          <p class="message">
            janedoe@example.com
          </p>
        </div>
      </div>
      <div class="item">
        <img src="https://adminlte.io/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="user image" class="offline">
        <div class="item-info">
          <a href="#" class="name">
            Jane Doe
          </a>
          <p class="message">
            janedoe@example.com
          </p>
        </div>
      </div>


    </div>
  </div>



</div>
