<footer>
  <div class="box-footer">
    <div class="left-footer">
      <p>Copyright 2017 Placeholder</p>
      <p>Privacy Policy</p>
      <p>Terms & Conditions</p>
    </div>
    <div class="right-footer">
      <span class="icon-top-box icon-page icon-facebook"></span>
      <span class="icon-top-box icon-page icon-twitter"></span>
      <span class="icon-top-box icon-page icon-google-plus"></span>
      <span class="icon-top-box icon-page icon-linkedin"></span>
      <span class="icon-top-box icon-page icon-email"></span>
    </div>
  </div>
</footer>
