.box-tabs-b-s {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  display: block;
  position: relative;
}
.box-tabs-b-s a {
  text-transform: uppercase;
  padding-bottom: 25px;
  margin-right: 60px;
  color: black;
}
.box-tabs-b-s a.active{
  border-bottom: 2px solid #9d0e2d;
  font-weight: 600;
}
.content-b-s{
  padding: 0 50px;
}

.padding-20{
  padding: 20px;
  background-color: white;
}

.box-quick-search{
  position: absolute;
  right: 50px;
  top: 40px
}
.box-quick-search p {
  display: inline-block;
  color: #0b0c0d;
  padding-left: 20px;
}
.bg-regulator{
  height: 200px;
  background-image: url("../../../assets/img/bg-regulator.png");
}
