<div class="body-box-quick-guide">
  <div class="left-quick-guide">
    <p>Overview</p>
    <ul>
      <li class="active">
        Background
      </li>
      <li>
        Context
      </li>
      <li>
        General Regulatory Desgin
      </li>
      <li>
        Significance
      </li>
      <li>
        Regions/Countries Impacted
      </li>
    </ul>
  </div>
  <div class="content-body-box-quick-guide">
    <div class="box-button-move">
      <a href="" class="btn">
        <i class="fa fa-angle-left"></i>
      </a>
      <a href="" class="btn">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <p class="title">Background</p>
    <div class="content-group">
      <p >Background lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam monummy nibth tincidunt ut laoreet dolore Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam monummy nibth tincidunt ut laoreet dolore</p>
    </div>
    <div class="content-group">
      <p class="subtitle">Term Title 2</p>
      <ul>
        <li>
          Lorem upsum dolor sit amet, consectedturer elit
        </li>
        <li>
          Lorem upsum dolor sit amet, consectedturer elit
        </li>
        <li>
          Lorem upsum dolor sit amet, consectedturer elit
        </li>
        <li>
          Lorem upsum dolor sit amet, consectedturer elit
        </li>

      </ul>
    </div>
    <div class="content-group">
      <p class="subtitle">See also</p>
      <a href="">Lorem upsum dolor sit amet, consecteture adipiscing elit</a>
    </div>
    <div class="content-group">
      <p class="subtitle">Next Article</p>
      <a href="">Context</a>
    </div>
    <div class="content-group">
      <p class="subtitle subtitle-qa">Is this help?</p>
      <a href="" class="btn">No</a>
      <a href="" class="btn">Yes</a>
    </div>
  </div>
</div>

