<div class="box-quick-guide">
  <div class="top-box-quick-guide">
    <p>Links</p>
  </div>
  <div class="body-box-quick-guide">
    <div class="content-body-box-quick-guide">
      <div class="item">
        <div class="item-info">
          <p class="name">
            Accounting Requirement Document
          </p>
          <a href="#" class="message">
            http://loremipsum.com/home
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item-info">
          <p class="name">
            Issue Log
          </p>
          <a href="#" class="message">
            http://loremipsum.com/home
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item-info">
          <p class="name">
            Paragtaph by Paragraph
          </p>
          <a href="#" class="message">
            http://loremipsum.com/home
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item-info">
          <p class="name">
            Big Four Summaries
          </p>
          <a href="#" class="message">
            http://loremipsum.com/home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
